.App {
    text-align: center;
} 

nav {
width: 100vw;
padding: 10px;
box-sizing: border-box;
display: flex;
justify-content: space-evenly;
}

nav a {
text-decoration: none;

}
 
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (max-width: 425px) {
    main {
        grid-template-columns: 1fr;
    }
}